body{
	padding: 0;
	margin: 0;
	background-color: #faf9fe;
}

#site-header{
	background: #e3e1e4;
	border-bottom: #ef3e34 1px solid;
}

#site-header a{
	text-decoration: none;
	font: 60px "Arial Black", Helvetica, sans-serif;
	letter-spacing: -8px;
	color: #676566;
	margin-left: 60px;
}

#site-header a:visited{
	color: #676566;
}

#site-header span{
	color: #34333b;
}

#heading1 {
	text-decoration: none;
	font: 60px "Arial Black", Helvetica, sans-serif;
	color: #676566;
}

#site-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #34333b;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: #ef3e34 1px solid;
}

#site-footer ul{
	list-style: none;
	line-height: 1.6em;	
	font: 8px Arial, Helvetica, sans-serif;
	margin-left: -5px;
}

#site-footer a{
	text-decoration: none;
	color: #faf9fe;
}

#site-footer a:visited{
	text-decoration: none;
	color: #faf9fe;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
}