body{
	padding: 0;
	margin: 0;
	background-color: #faf9fe;
	display: flex;
  	flex-direction: column;
  	font-size: 160%;
}

#site-header{
	background: #e3e1e4;
	border-bottom: #ef3e34 1px solid;
}

#site-header a{
	text-decoration: none;
	font: 500% "Arial Black", Helvetica, sans-serif;
	letter-spacing: -8px;
	color: #676566;
	margin-left: 10px;
}

#site-header a:visited{
	color: #676566;
}

#site-header span{
	color: #34333b;
}

#content-margin-s{
	margin-left: 10px;
	margin-right: 10px;
}

#content-margin-m{
	margin-left: 10px;
	margin-right: 10px;
}

#content{
	flex: 1 0 auto;
}

#site-footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #34333b;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: #ef3e34 1px solid;
	flex-shrink: 0;
}

#site-footer ul{
	list-style: none;
	line-height: 2em;	
	font: 12px Arial, Helvetica, sans-serif;
	margin-left: -5px;
}

#site-footer a{
	text-decoration: none;
	color: #faf9fe;
}

#site-footer a:visited{
	text-decoration: none;
	color: #faf9fe;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

#article-heading {
	display:inline-block;
	width: 80%;
}

#source-img {
	max-height: 30px;
	display:inline-block;
}

a {
	font-size: 120%;
}